<a href="https://colab.research.google.com/github/datasigns-in/UpNiftyML/blob/main/eqDataDownloader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import urllib.parse
import pandas as pd
import pytz,os
import requests
import json ,requests
from  datetime import datetime,timedelta,time
TIME_ZONE = pytz.timezone('Asia/Kolkata')

In [36]:
fileUrl ='https://assets.upstox.com/market-quote/instruments/exchange/complete.csv.gz'
symboldf = pd.read_csv(fileUrl)
nifty50 = symboldf.iloc[:1]
#symboldf['expiry'] = pd.to_datetime(symboldf['expiry']).apply(lambda x: x.date())
#symboldf = symboldf[symboldf.exchange == 'NSE_EQ']
eqCsv = pd.read_csv('/content/sample_data/NIFTY50NSE.csv')
isinList = 'NSE_EQ|' + eqCsv[' ISIN NUMBER']
symboldf = symboldf[symboldf.instrument_key.isin(isinList)]
symboldf = symboldf.append(nifty50)
symboldf

<ipython-input-36-7a7bd1553bb0>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  symboldf = symboldf.append(nifty50)

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
3023,NSE_EQ|INE423A01024,25.0,ADANIENT,ADANI ENTERPRISES LIMITED,3132.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3025,NSE_EQ|INE742F01042,15083.0,ADANIPORTS,ADANI PORT & SEZ LTD,1283.00,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3121,NSE_EQ|INE437A01024,157.0,APOLLOHOSP,APOLLO HOSPITALS ENTER. L,5983.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3163,NSE_EQ|INE021A01026,236.0,ASIANPAINT,ASIAN PAINTS LIMITED,2867.55,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3206,NSE_EQ|INE238A01034,5900.0,AXISBANK,AXIS BANK LIMITED,1046.40,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3226,NSE_EQ|INE917I01010,16669.0,BAJAJ-AUTO,BAJAJ AUTO LIMITED,8350.70,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3229,NSE_EQ|INE918I01026,16675.0,BAJAJFINSV,BAJAJ FINSERV LTD.,1571.45,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3234,NSE_EQ|INE296A01024,317.0,BAJFINANCE,BAJAJ FINANCE LIMITED,6514.35,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3302,NSE_EQ|INE397D01024,10604.0,BHARTIARTL,BHARTI AIRTEL LIMITED,1220.00,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3334,NSE_EQ|INE029A01011,526.0,BPCL,BHARAT PETROLEUM CORP LT,586.45,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3367,NSE_EQ|INE216A01030,547.0,BRITANNIA,BRITANNIA INDUSTRIES LTD,4974.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3475,NSE_EQ|INE059A01026,694.0,CIPLA,CIPLA LTD,1488.05,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3486,NSE_EQ|INE522F01014,20374.0,COALINDIA,COAL INDIA LTD,415.25,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3624,NSE_EQ|INE361B01024,10940.0,DIVISLAB,DIVI S LABORATORIES LTD,3485.40,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3650,NSE_EQ|INE089A01023,881.0,DRREDDY,DR. REDDY S LABORATORIES,6284.90,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3679,NSE_EQ|INE066A01021,910.0,EICHERMOT,EICHER MOTORS LTD,3745.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3900,NSE_EQ|INE047A01021,1232.0,GRASIM,GRASIM INDUSTRIES LTD,2197.10,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4059,NSE_EQ|INE860A01027,7229.0,HCLTECH,HCL TECHNOLOGIES LTD,1647.30,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4085,NSE_EQ|INE040A01034,1333.0,HDFCBANK,HDFC BANK LTD,1452.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4090,NSE_EQ|INE795G01014,467.0,HDFCLIFE,HDFC LIFE INS CO LTD,632.35,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4121,NSE_EQ|INE158A01026,1348.0,HEROMOTOCO,HERO MOTOCORP LIMITED,4585.30,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4144,NSE_EQ|INE038A01020,1363.0,HINDALCO,HINDALCO INDUSTRIES LTD,532.55,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4152,NSE_EQ|INE030A01027,1394.0,HINDUNILVR,HINDUSTAN UNILEVER LTD.,2327.70,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4404,NSE_EQ|INE090A01021,4963.0,ICICIBANK,ICICI BANK LTD.,1080.35,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4538,NSE_EQ|INE095A01012,5258.0,INDUSINDBK,INDUSIND BANK LIMITED,1484.35,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4547,NSE_EQ|INE009A01021,1594.0,INFY,INFOSYS LIMITED,1634.00,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4616,NSE_EQ|INE154A01025,1660.0,ITC,ITC LTD,419.10,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4682,NSE_EQ|INE019A01038,11723.0,JSWSTEEL,JSW STEEL LIMITED,780.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4767,NSE_EQ|INE237A01028,1922.0,KOTAKBANK,KOTAK MAHINDRA BANK LTD,1738.30,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4888,NSE_EQ|INE018A01030,11483.0,LT,LARSEN & TOUBRO LTD.,3537.15,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4891,NSE_EQ|INE214T01019,17818.0,LTIM,LTIMINDTREE LIMITED,5194.35,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4900,NSE_EQ|INE101A01026,2031.0,M&M,MAHINDRA & MAHINDRA LTD,1799.50,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4962,NSE_EQ|INE585B01010,10999.0,MARUTI,MARUTI SUZUKI INDIA LTD.,11476.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5143,NSE_EQ|INE239A01024,17963.0,NESTLEIND,NESTLE INDIA LIMITED,2603.65,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5245,NSE_EQ|INE733E01010,11630.0,NTPC,NTPC LTD,316.30,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5282,NSE_EQ|INE213A01029,2475.0,ONGC,OIL AND NATURAL GAS CORP.,258.75,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5425,NSE_EQ|INE752E01010,14977.0,POWERGRID,POWER GRID CORP. LTD.,265.95,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5556,NSE_EQ|INE002A01018,2885.0,RELIANCE,RELIANCE INDUSTRIES LTD,2836.45,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5680,NSE_EQ|INE123W01016,21808.0,SBILIFE,SBI LIFE INSURANCE CO LTD,1500.00,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5681,NSE_EQ|INE062A01020,3045.0,SBIN,STATE BANK OF INDIA,731.90,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6038,NSE_EQ|INE044A01036,3351.0,SUNPHARMA,SUN PHARMACEUTICAL IND L,1548.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6113,NSE_EQ|INE192A01025,3432.0,TATACONSUM,TATA CONSUMER PRODUCT LTD,1212.15,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6117,NSE_EQ|INE155A01022,3456.0,TATAMOTORS,TATA MOTORS LIMITED,945.85,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6120,NSE_EQ|INE081A01020,3499.0,TATASTEEL,TATA STEEL LIMITED,141.70,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6132,NSE_EQ|INE467B01029,11536.0,TCS,TATA CONSULTANCY SERV LT,4219.25,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6138,NSE_EQ|INE669C01036,13538.0,TECHM,TECH MAHINDRA LIMITED,1282.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6179,NSE_EQ|INE280A01028,3506.0,TITAN,TITAN COMPANY LIMITED,3633.20,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6262,NSE_EQ|INE481G01011,11532.0,ULTRACEMCO,ULTRATECH CEMENT LIMITED,9632.95,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6282,NSE_EQ|INE628A01036,11287.0,UPL,UPL LIMITED,475.15,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6437,NSE_EQ|INE075A01022,3787.0,WIPRO,WIPRO LTD,517.00,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
0,NSE_INDEX|Nifty 50,17.0,NaN,Nifty 50,22023.35,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX

In [7]:
#fromDate = (datetime.now(TIME_ZONE)  - timedelta(days=10000)) .strftime("%Y-%m-%d")
#fromDate

In [52]:
def getHistoricalData(symInfo):
    res = None
    try:
        parseInstrument = urllib.parse.quote(symInfo.instrument_key)
        fromDate = (datetime.now(TIME_ZONE)  - timedelta(days=7300)) .strftime("%Y-%m-%d")
        todate = datetime.now(TIME_ZONE).strftime("%Y-%m-%d")
        url = f'https://api.upstox.com/v2/historical-candle/{parseInstrument}/1minute/{todate}/{fromDate}'
        #print(url)

        res = requests.get(url,headers={'accept': 'application/json',},params={},timeout=5.0)
        candleRes = res.json()

        if 'data' in candleRes and 'candles' in candleRes['data'] and  candleRes['data']['candles']:
            candleData = pd.DataFrame(candleRes['data']['candles'])
            candleData.columns = ['date','open','high','low', 'close','vol','oi']
            candleData['date'] = pd.to_datetime(candleData['date']).dt.tz_convert('Asia/Kolkata')
            candleData['symbol'] = symInfo.tradingsymbol
            print(symInfo.tradingsymbol, len(candleData))
            return candleData
        else:
            print('No data',symInfo.instrument_key, candleRes)
    except :
        print(f'Error in data fetch for {symInfo.instrument_key} {res} {e}')

In [56]:
#getHistoricalData(symboldf.iloc[50])

nan 45915

,date,open,high,low,close,vol,oi,symbol
0,2024-03-15 15:29:00+05:30,21992.95,22008.80,21985.40,21996.35,0,0,NaN
1,2024-03-15 15:28:00+05:30,21998.30,22005.45,21991.05,21994.55,0,0,NaN
2,2024-03-15 15:27:00+05:30,22019.00,22021.90,21986.95,22000.30,0,0,NaN
3,2024-03-15 15:26:00+05:30,22027.30,22027.85,22020.70,22020.75,0,0,NaN
4,2024-03-15 15:25:00+05:30,22021.45,22028.60,22021.25,22027.30,0,0,NaN
...,...,...,...,...,...,...,...,...
45910,2023-09-18 09:19:00+05:30,20144.70,20145.40,20140.45,20141.30,0,0,NaN
45911,2023-09-18 09:18:00+05:30,20142.05,20144.80,20140.45,20143.70,0,0,NaN
45912,2023-09-18 09:17:00+05:30,20130.60,20144.20,20127.70,20140.80,0,0,NaN
45913,2023-09-18 09:16:00+05:30,20129.55,20131.95,20123.75,20130.40,0,0,NaN
45914,2023-09-18 09:15:00+05:30,20155.95,20156.00,20123.35,20128.85,0,0,NaN

In [ ]:
candledfList = []
for i in symboldf.index[:2]:
    res = getHistoricalData(symboldf.loc[i])
    if res is not None: candledfList.append(res)

In [ ]:
finalDataDf = pd.concat(candledfList,ignore_index= True)
finalDataDf

In [ ]:
isCsv = True
for symData in candledfList:
    try:
        filename = symData.iloc[0]['symbol']
        if isCsv :
            filename = f'{filename}.csv'
            symData.to_csv(filename,index=False)
        else:
            filename = f'{filename}.parquet'
            symData.to_parquet(filename , engine='pyarrow')
    except Exception as e:
        print(f'Error {e}')

In [ ]:
pd.read_parquet('C:\\Users\\eqEOD\\20MICRONS.parquet')